/****************************
 * Login
 ***************************/
.login-window {
  width: 250px;
  border: 1px solid #d3d3d3;
  padding: 10px 5px 10px 5px;
  text-align: center;
  position: absolute;
  right: 50px;
  top: 45px;
  background-color: white;
  -webkit-box-shadow: -5px 6px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 6px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 6px 9px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
}
.login-window .sprites {
  display: inline-block;
  cursor: pointer;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -10px;
  right: 10px;
}
/* Mobile adjustments */
@media (max-width: 700px) {
  .login-window {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .arrow-up {
    display: none;
  }
}
/****************************
 * Footer
 ***************************/
footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
footer .footer-images {
  display: inline-block;
}
footer .footer-images .aowp {
  margin-top: 20px;
  margin-right: 15px;
}
footer .footer-images .accenture-owp {
  margin-left: 15px;
}
footer .footer-images .accenture-owp,
footer .footer-images .aowp {
  float: left;
}
/****************************
 * Main Content
 ***************************/
.main-content {
  background-image: url(../../images/main-content.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
.main-content .main-content-intro {
  padding-top: 120px;
}
.main-content .main-content-intro .btn {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 200px;
}
.main-content .main-content-discover {
  color: white;
  padding: 10px;
  background-color: black;
  opacity: 0.7;
  text-align: center;
  margin-top: 80px;
}
.main-content .main-content-discover .glyphicon {
  padding-left: 15px;
}
/* Mobile adjustments */
@media (max-width: 510px) {
  .main-content {
    background-image: url(../../images/main-content-mobile.jpg);
    background-size: auto;
  }
}
@media (max-width: 700px) {
  .main-content {
    background-image: url(../../images/main-content-mobile.jpg);
  }
  .main-content .main-content-intro {
    padding-top: 20px;
  }
  .main-content .main-content-item {
    padding-top: 50px;
  }
}
/* Tablet adjustments */
@media (max-width: 1100px) {
  .main-content {
    height: 400;
  }
  .main-content .main-content-text {
    padding-top: 60px;
  }
  .main-content .main-content-discover {
    margin-top: 30px;
  }
}
/****************************
 * Main Features
 ***************************/
.main-features {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../../images/main-features.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin-bottom: 15px;
  min-height: 220px;
}
.circleContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  color: black;
  line-height: 90px;
  text-align: center;
  background: #fe5140;
  display: inline-block;
  margin-bottom: 10px;
}
.circleContainer .sprites {
  display: inline-block;
}
.main-features .road-directions,
.main-features .utensils {
  margin-top: 30px;
}
/* Mobile adjustments */
@media (max-width: 700px) {
  .main-features {
    background-image: url(../../images/main-features-mobile.jpg);
    padding-bottom: 35px;
  }
  .circleContainer {
    width: 80px;
    height: 80px;
    line-height: 90px;
  }
  .main-features .road-directions,
  .main-features .utensils {
    margin-top: 10px;
  }
}
