/****************************
 * Journey Overview Screen
 ***************************/
.journey-overview {
  padding: 10px 80px 10px 80px;
  background-color: white;
  margin-bottom: 10px;
}
.journey-overview .food-types-widget {
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
  min-height: 55px;
}
.journey-overview .food-types-widget .food-type-dropdown {
  display: none;
}
.journey-overview .food-types-widget .food-type-buttons button {
  width: 100px;
}
.journey-overview .food-types-widget button {
  margin-right: 5px;
}
.journey-overview .food-types-widget .sort-control {
  float: right;
  cursor: pointer;
}
.journey-overview .food-types-widget .sort-control button .fa-sort {
  padding-left: 5px;
}
.journey-overview .food-type-overview {
  min-height: 120px;
}
.journey-overview .food-type-overview .ft-progress .circleContainer {
  background-color: #fe6859;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/american-food-icon.png), linear-gradient(126deg, transparent 50%, #fe5140 50%), linear-gradient(90deg, #fe5140 50%, transparent 50%);
}
.journey-overview .food-type-overview .ft-progress .circleContainer.inner {
  background-color: black;
}
.journey-overview .food-type-overview .ft-description {
  max-width: 500px;
}
.journey-overview .food-type-overview .ft-description .st-progress {
  color: #a8a8a8;
}
.journey-overview .food-type-overview .ft-actions {
  text-align: center;
  float: right;
  padding: 10px;
}
.journey-overview .food-type-overview .ft-actions .duration {
  background-color: #f1f1f1;
  padding: 6px;
  margin-bottom: 5px;
}
.journey-overview .food-types-widget .food-type-buttons,
.journey-overview .food-types-widget .food-type-dropdown {
  float: left;
}
.journey-overview .food-types-widget .sort-control button,
.journey-overview .food-types-widget .sort-control button:hover,
.journey-overview .food-types-widget .sort-control button:active,
.journey-overview .food-types-widget .sort-control button:focus {
  border: none;
  background-color: transparent;
}
.journey-overview .food-type-overview .ft-progress,
.journey-overview .food-type-overview .ft-description {
  float: left;
  padding: 10px;
}
.journey-overview-items {
  padding: 10px 80px 10px 80px;
}
.journey-overview-items .ft-item {
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}
.journey-overview-items .ft-item .fti-header .fa.active {
  color: #2DB2FF;
}
.journey-overview-items .ft-item .fti-number {
  color: white;
}
.journey-overview-items .ft-item .fti-title {
  margin-left: 15px;
}
.journey-overview-items .ft-item .fti-body {
  margin-top: 5px;
  padding-top: 8px;
  display: flex;
  border-top: solid 1px #e7e7e7;
}
.journey-overview-items .ft-item .fti-body .review .r-name {
  font-weight: bold;
}
.journey-overview-items .ft-item .fti-body .review .r-reviews {
  color: #a8a8a8;
}
.journey-overview-items .ft-item .fti-body .google-map {
  text-align: center;
}
.journey-overview-items .ft-item .fti-body .gallery {
  background-image: url(../../images/food-gallery-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #000;
}
.journey-overview-items .ft-item .fti-body .gallery img {
  margin-top: 45px;
  margin-bottom: 5px;
}
.journey-overview-items .ft-item .fti-body .contact {
  background-color: #f0f0f0;
  padding-top: 10px;
}
.journey-overview-items .ft-item .fti-body .contact hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-color: #a8a8a8;
}
.journey-overview-items .ft-item .fti-body .contact .r-status {
  font-weight: bold;
}
.journey-overview-items .ft-item .fti-body .contact .r-status.open {
  color: green;
}
.journey-overview-items .ft-item .fti-body .contact .r-status.closed {
  color: red;
}
.journey-overview-items .fti-body .r-rating {
  unicode-bidi: bidi-override;
}
.journey-overview-items .fti-body .r-rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.journey-overview-items .fti-body .r-rating span.star:before {
  content: "\f006";
  padding-right: 0px;
  color: #777777;
}
.journey-overview-items .fti-body .r-rating span.star-active:before {
  content: "\f005";
  color: #e3cf7a;
}
/* Mobile adjustments */
@media (max-width: 700px) {
  .profile img {
    width: 65px;
    height: auto;
  }
  .customerReview {
    font-size: 12px;
  }
  .customerReview img {
    width: 15px;
    height: auto;
  }
  .customerReview {
    font-size: 12px;
    float: left;
  }
  .customerReview img {
    width: 15px;
    height: auto;
  }
  .journey-overview .food-type-overview .ft-progress,
  .journey-overview .food-type-overview .ft-description,
  .journey-overview .food-type-overview .ft-actions {
    padding: 5px;
  }
  .journey-overview .food-type-overview .ft-description {
    width: 80%;
  }
  .journey-overview .food-type-overview .ft-actions {
    float: none;
    clear: both;
  }
  .journey-overview .food-types-widget .food-type-buttons {
    display: none;
  }
  .journey-overview .food-types-widget .food-type-dropdown {
    display: inline;
  }
  .journey-overview .food-type-overview .ft-actions div,
  .journey-overview .food-type-overview .ft-actions button {
    width: 49.8%;
    float: left;
  }
  .circleContainer {
    width: 50px;
    height: 50px;
    line-height: 45px;
  }
  .journey-overview-items .ft-item .fti-body .profile,
  .journey-overview-items .ft-item .fti-body .customerReview {
    display: none;
  }
  .journey-overview-items .ft-item .fti-body .review,
  .journey-overview-items .ft-item .fti-body .contact {
    width: 49.5%;
  }
}
/* Tablet adjustments */
@media (max-width: 1000px) {
  .journey-overview,
  .journey-overview-items {
    padding: 0;
  }
}
