@import (reference) "common.less";
/****************************
 * Journey Challenge Screen
 ***************************/
.journey-challenge {
    .breadcrumb {
        color: #a8a8a8;
        font-weight: bold;
        background-color: transparent;
        margin-bottom: 0px;
        .current-journey-name {
            color: #a8a8a8;
        }
    }
    .challenge {
        margin: 10px 80px 10px 80px;
        padding: 5px;
        background-color: white;
        -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);
        .ch-header {
            .ch-number {
                color: white;
            }
            .ch-title {
                margin-left: 15px;
            }
            .challenge-status {
                color: #a8a8a8;
                font-weight: bold;
                margin-left: 8px;
            }
        }
        .ch-body {
            margin-top: 5px;
            padding-top: 5px;
            border-top: solid 1px #e7e7e7;
            display: block;
            .body-actions {
                text-align: center;
            }
            .contact {
                background-color: #f0f0f0;
                padding-top: 10px;
                padding-bottom: 10px;
                hr {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border-top-color: #a8a8a8;
                }
                .r-status {
                    font-weight: bold;
                }
                .r-status.open {
                    color: green;
                }
                .r-status.closed {
                    color: red;
                }
            }
            .reviews{
                margin:25px 0 50px 0;
            }
        }
    }
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .actions {
        margin: 10px 80px 10px 80px;
        .challenge-completed {
            i {
                color: #2DB2FF;
                margin-right: 5px;
            }
        }
    }
}

.journey-challenge .challenge .ch-body .food-info,
.journey-challenge .challenge .ch-body .map {
    min-height: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.journey-challenge .actions .challenge-completed,
.journey-challenge .actions .challenge-completed:hover {
    background-color: #e7e7e7;
    border-color: #e7e7e7;
    cursor: default;
}

.provide-reason {
    text-align: center;
    button {
        width: 150px;
    }
    .modal-header {
        border-bottom-color: transparent;
    }
    .modal-body {
        textarea {
            width: 80%;
        }
    }
    .modal-footer {
        border-top-color: transparent;
        text-align: center;
        margin-bottom: 15px;
    }
}
/* Tablet adjustments */

@media (max-width: @tablet_mediaquery_value) {
    .journey-challenge .actions,
    .journey-challenge .challenge {
        margin: 0px;
    }
    .journey-challenge {
        .challenge {
            .ch-body {
                .body-actions {
                    margin-top: 5px;
                }
            }
        }
        .actions {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
