/****************************
 * Journey Challenge Screen
 ***************************/
.journey-challenge .breadcrumb {
  color: #a8a8a8;
  font-weight: bold;
  background-color: transparent;
  margin-bottom: 0px;
}
.journey-challenge .breadcrumb .current-journey-name {
  color: #a8a8a8;
}
.journey-challenge .challenge {
  margin: 10px 80px 10px 80px;
  padding: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);
}
.journey-challenge .challenge .ch-header .ch-number {
  color: white;
}
.journey-challenge .challenge .ch-header .ch-title {
  margin-left: 15px;
}
.journey-challenge .challenge .ch-header .challenge-status {
  color: #a8a8a8;
  font-weight: bold;
  margin-left: 8px;
}
.journey-challenge .challenge .ch-body {
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px #e7e7e7;
  display: block;
}
.journey-challenge .challenge .ch-body .body-actions {
  text-align: center;
}
.journey-challenge .challenge .ch-body .contact {
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.journey-challenge .challenge .ch-body .contact hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-color: #a8a8a8;
}
.journey-challenge .challenge .ch-body .contact .r-status {
  font-weight: bold;
}
.journey-challenge .challenge .ch-body .contact .r-status.open {
  color: green;
}
.journey-challenge .challenge .ch-body .contact .r-status.closed {
  color: red;
}
.journey-challenge .challenge .ch-body .reviews {
  margin: 25px 0 50px 0;
}
.journey-challenge .row {
  margin-right: 0px;
  margin-left: 0px;
}
.journey-challenge .actions {
  margin: 10px 80px 10px 80px;
}
.journey-challenge .actions .challenge-completed i {
  color: #2DB2FF;
  margin-right: 5px;
}
.journey-challenge .challenge .ch-body .food-info,
.journey-challenge .challenge .ch-body .map {
  min-height: 100px;
  text-align: center;
  margin-bottom: 10px;
}
.journey-challenge .actions .challenge-completed,
.journey-challenge .actions .challenge-completed:hover {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  cursor: default;
}
.provide-reason {
  text-align: center;
}
.provide-reason button {
  width: 150px;
}
.provide-reason .modal-header {
  border-bottom-color: transparent;
}
.provide-reason .modal-body textarea {
  width: 80%;
}
.provide-reason .modal-footer {
  border-top-color: transparent;
  text-align: center;
  margin-bottom: 15px;
}
/* Tablet adjustments */
@media (max-width: 1000px) {
  .journey-challenge .actions,
  .journey-challenge .challenge {
    margin: 0px;
  }
  .journey-challenge .challenge .ch-body .body-actions {
    margin-top: 5px;
  }
  .journey-challenge .actions {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
