/****************************
 * Journey Screen
 ***************************/
.journey .journey-welcome {
  padding-top: 35px;
  padding-bottom: 40px;
}
.journey .food-type-container .journey-progress {
  background-color: #CB3729;
  text-align: center;
  padding: 5px;
  padding-top: 30px;
  min-height: 100px;
  color: white;
  font-weight: bold;
}
.journey .food-type-container .journey-progress img {
  padding-right: 10px;
}
.journey .food-type-container .journey-progress .progress-percentage {
  background-color: #d94f42;
  margin-top: 5px;
}
.journey .food-type-container .description {
  background-color: white;
  min-height: 130px;
  padding: 8px;
  font-size: 12px;
}
.journey .food-type-container .duration {
  font-weight: bold;
}
/* Mobile adjustments */
@media (max-width: 700px) {
  .journey .journey-welcome {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .journey .journey-welcome span {
    display: block;
  }
  .journey .food-type-container {
    margin-bottom: 10px;
  }
  .journey .food-type-container .journey-progress {
    padding-top: 10px;
    min-height: 80px;
  }
  .journey .food-type-container .sprites {
    margin: 0 auto;
  }
  .journey .food-type-container .food-name-type {
    line-height: 0px;
  }
  .journey .food-type-container .description {
    min-height: 50px;
  }
}
