<!DOCTYPE html>
<html ng-app="yelpAPI">

<head>
    <title>Capstone</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--Vendor CSS-->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link href="../styles/css/sprite.css" rel="stylesheet" />
    <link href="../styles/css/styles.css" rel="stylesheet" />
    <script src ="../angular.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/ngstorage/ngStorage.js"></script>
    <script src="../../bower_components/google-maps/lib/Google.js"></script>
    <script src="../scripts/controllers/index-journey-challenge.js"></script>
    <script  src="https://maps.googleapis.com/maps/api/js"></script>
  <link href="../styles/css/maps.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

        <!--Navigation Menu-->
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">FoodieJournal</a>
                    </div>

                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav">
                            <li><a href="index-journey-overview.html">Journey</a>
                            </li>
                            <li><a href="index-journey.html">My Progress</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown" role="button" aria-expanded="false">Hi Accenture!
                                    <img src="../images/avatar.png" class="img-circle" alt="Avatar">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">My Account</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="index-home-login.html">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </header>

        <!-- Main Container-->

        <div class="row" ng-controller="yelpController">
            <div class="col-sm-12">
                <div class="journey-challenge">
                    <div class="breadcrumb">
                        <a href="index-journey-overview.html" style="text-decoration: underline; color: #FE5140"> <i class="fa fa-long-arrow-left" style="text-decoration: none"></i> Journeys </a>
                        <span class="current-journey-name" style="color: #FE5140">/ {{navName}}</span>
                    </div>

                    <div class="challenge">
                        <div class="ch-header">
                            <span class="fa-stack fa-lg text-center">
                                    <i ng-show="indexNumber" class="fa fa-circle fa-stack-2x"></i>
                                    <img ng-show="completeImage" src="../images/Completed.png" />
                                    <i class="fa ch-number" ng-show="indexNumber">{{number}} </i>

                            </span>
                            <span class="ch-title">{{title}}</span>
                          <span class="challenge-status" ng-show="markStartButton">{{labelText}}</span>
                        </div>
                        <div class="row ch-body">
                            <div class="row">
                              <div class="image">
                                <img style="height: 300px; width: 500px" src="{{imageURL}}">
                                <!--<img style="height: 300px; width: 450px" src="http://maps.google.com/maps/api/staticmap?center=40.993196,0.342268&zoom=13&size=220x120&sensor=TRUE & FALSE" >-->
                                <div>

                                  <div id="map"></div>
                                  <!--<a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">-->
                                    <!--<label id="names" >{{marker.title}}</label></a>-->
                                </div>
                              </div>
                            </div>
                              </div>
                                <div style="position: absolute;top: 53px;right: 105px; width: 141px;" >
                                    <button style="height: 39px;background-color: white;border: solid 1px;border-color: gray;font-size: small" ng-show="completedButton">Leave Feedback</button>

                                  </div>

                                <div class="col-sm-8 description" style="top: -277px; left: -16px;">
                                    <h5 class="head">Instructions: Go ahead and ask for the ultimate {{descHead}}</h5>
                                    <p>{{descP}}</p>
                                </div>
                                <div class="col-xs-6 col-sm-4 contact" style="top: -277px;left: -16px;border: solid;border-color: #F2F2F2;background-color: #F2F2F2;">
                                    <span class="r-wtime">Today 8:00 am - 9:00 pm</span>
                                    <br>
                                    <span class="r-status open">Open now</span>
                                    <hr>
                                    <span class="r-phone"><a><i class="fa fa-phone"></i> {{dispPhone}}</a></span>
                                    <br>
                                    <span class="r-website"><a><i class="fa fa-external-link"></i> {{website}}</a></span>
                                </div>
                                <div class="col-xs-6 col-sm-12 body-actions" style="border: solid;border-color: #F2F2F2;background-color: #F2F2F2;top: -302px; width: 202px;">
                                    <a href="#">Resend text notification</a>
                                </div>
                            </div>

                            <div class="row reviews" ng-hide="reviewButton">
                                <div class="col-xs-3 col-sm-2 profile" style="top: -256px;left: -215px;">
                                    <img src="../images/ms.jpg" alt="profile image" >
                                </div>
                                <div class="col-xs-9 col-sm-6 customerReview" style="top: -244px;left: -289px;">
                                    <p><img class ="openImg" src="../images/open.JPG">One of the BEST Japanese restaurants I have ever been to. The food is amazing in both quality and flavor, the ambiance is unlike NYC, very spacious and...<img class ="closeImg" src="../../app/images/close.JPG"></p>
                                </div>
                                <div class="col-xs-12 col-sm-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row actions">
                        <div class="row actions">
                            <div class="col-sm-3 previous" style="top: -200px;left: 124px;">
                                <button class="btn btn-inverse btn-block" ng-click="prevButton()" >Previous</button>
                            </div>
                            <div class="col-sm-6 change-status" style="top: -200px;left: 223px;width: 315px;color: black"  >
                                <button class="btn btn-primary btn-block"  ng-init="count=0"  ng-click="startButton(count);(count=(count+1));" ng-style="{'background-color':backgroundColor, 'borderColor':backgroundBorder,'color':text}">{{buttonText}}</button>
                            </div>
                            <div class="col-sm-6" hidden="hidden">
                                <a class="btn btn-default btn-block challenge-completed">
                                    <i class="fa fa-check-circle fa-lg"></i> Way to go! Take the next challenge!
                                </a>
                            </div>
                            <div class="col-sm-6" hidden="hidden">
                                <button id="btnProvideReason" class="btn btn-default btn-block" >Provide Reason</button>
                            </div>
                            <div class="col-sm-3 next" style="top: -200px; left: 313px;">
                                <button type="submit" class="btn btn-default btn-block" ng-disabled="nextButtonEnable==true" ng-style="{'background-color': buttonColor}"   ng-click="nextButton()">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Provide Reason Modal-->
    <div class="provide-reason modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">You ran out time!</h2>
                </div>
                <div class="modal-body">
                    <p>This challenge will appear as missed.</p>
                    <p>Please provide a reason to be able to start again.</p>
                    <textarea rows="7"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Do it later</button>
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--Vendor Javascript-->
    <script src="../jquery/jquery.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.js"></script>

    <!--Custom Javascript-->
    <script src="../dom.manipulation.js"></script>

</body>

</html>
