<!DOCTYPE html>
<html ng-app="start">

<head >
    <title>Capstone</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src ="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/ngstorage/ngStorage.js"></script>
    <script src="../scripts/controllers/index-home-login.js"></script>
    <!--Vendor CSS-->
  <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link href="../styles/css/sprite.css" rel="stylesheet" />
    <link href="../styles/css/styles.css" rel="stylesheet" />

</head>


<body>
    <div class="container">

        <!--Navigation Menu-->
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid" >
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">FoodieJournal</a>
                        <a class="btn-login navbar-brand login-collapsed" href="#">Login</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a class="btn-login" href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->


                    <!-- Login -->
                    <div class="row login-window hide" ng-controller="validateCtrl">
                        <div class="col-xs-12">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email or Username" ng-model="user">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" ng-model="password">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block" ng-click="userValidation(form)">Login</button>
                            </form>
                        </div>
                        <div class="col-xs-12">
                            <p>or login with</p>
                        </div>
                        <div class="col-xs-4">
                            <div class="sprites facebook"></div>
                        </div>
                        <div class="col-xs-4">
                            <div class="sprites twitter"></div>
                        </div>
                        <div class="col-xs-4">
                            <div class="sprites google-plus"></div>
                        </div>
                        <div class="arrow-up"></div>

                    </div>
                </div>

                <!-- /.container-fluid -->
            </nav>

        </header>


        <!-- Main Container-->
      <div ng-controller="StartController">
        <div class="row" >
            <div class="col-xs-12">
                <div class="main-content">
                    <div class="main-content-intro">
                        <h2>Challenge Yourself</h2><br/><br/>
                        <p>FoodieJournal makes it easy for you to embark
                                                <br> on a journey to discover new cuisines</p><br/><br/>

                        <button class="btn-login" style="width: 150px; height: 40px; background-color: #fe5140; border-color: #fe6859; color: white">Get Started</button>
                         <div class="main-content-discover">
                            <a ng-click="toggle()" style="color: white">Discover More</a> <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Main Features-->
      <div>
        <div class="row" ng-hide="startButton">
            <div class="col-xs-12">
                <div class="main-features">
                    <div class="col-sm-4">
                        <div class="circleContainer">
                            <div class="sprites utensils"></div>
                        </div>
                        <p>Explore the top 5
                            <br>international cuisines and
                            <br>follow cuisine journeys</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="circleContainer">
                            <div class="sprites road-directions"></div>
                        </div>
                        <p>Receive retaurant
                            <br>recommendations based on
                            <br>your oreferences and location</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="circleContainer">
                            <div class="sprites check-white"></div>
                        </div>
                        <p>Complete challenges and
                            <br>track your progress against
                            <br>your selected cuisine journey</p>
                    </div>

                </div>

            </div>

        </div>

      </div>
        <footer ng-hide="startButton">
          <p style="color:gray">Developed by</p>
            <div class="footer-images">
                <div class="sprites aowp"></div>
                <div class="sprites accenture-owp"></div>
            </div>
        </footer>
        <div ng-show="startButton"></div>
    </div>
    </div>
    <!--Vendor Javascript-->
    <script src="../jquery/jquery.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.js"></script>

    <!--Custom Javascript-->
    <script src="../dom.manipulation.js"></script>

</body>

</html>
