<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Capstone</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--Vendor CSS-->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link href="../styles/css/sprite.css" rel="stylesheet" />
    <link href="../styles/css/styles.css" rel="stylesheet" />
    <script src ="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/ngstorage/ngStorage.js"></script>
    <script src="../scripts/controllers/index-journey.js"></script>
</head>


<body ng-controller="createPropertyCtrl">
    <div class="container">
        <!--Navigation Menu-->
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                      <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="../../app/images/NavBar.png" class="img-rounded" style="height: 25px;width: 25px;">
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="index-journey-overview.html">Journey</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="index-journey.html">My Progress</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                        <a class="navbar-brand">FoodieJournal</a>
                    </div>

                    <div class="collapse navbar-collapse" id="menu">
                        <!--<ul class="nav navbar-nav">-->
                            <!--<li><a href="index-journey-overview.html">Journey</a>-->
                            <!--</li>-->
                            <!--<li class="active"><a href="index-journey.html">My Progress</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown" role="button" aria-expanded="false">Hi Accenture!
                                    <img src="../images/avatar.png" class="img-circle" alt="Avatar">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">My Account</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="index-home-login.html">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </header>

        <!-- Main Container-->
        <div class="row">
            <div class="col-xs-12">
                <div class="journey">

                    <div class="text-center journey-welcome">
                        <h3><span>Welcome!...</span> Choose a track to get started</h3>
                    </div>

                  <div class="col-sm-3 food-type-container" ng-click = "infoClicked('American',users.americaPercentage)">


                        <div class=" journey-progress ">

                          <div class="progress-percentage americaBox ng-cloak"><p>{{users.americaPercentage}}</p></div>
                          <img src="../../app/images/american-food-icon.png" width="12%" alt="American Food" />
                          <span class="food-name-type speciesFont">American</span>
                        </div>
                        <div class="description">
                            <p>One characteristic of American cooking is the fusion of multiple ethnic of regional approaches into completely new cooking styles.</p>
                            <span class="duration">Duration: 3 weeks</span>
                        </div>
                    </div>

                  <div class="col-sm-3 food-type-container" ng-click = "infoClicked('Korean',users.koreanPercentage)" >

                    <div class="journey-progress">
                      <div class="progress-percentage koreanBox ng-cloak "><p>{{users.koreanPercentage}}</p></div>
                      <img src="../../app/images/japanese-food-icon.png" width="12%" alt="Korean Food" />
                      <span class="food-name-type speciesFont">Korean</span>
                    </div>
                    <div class="description">
                      <p>The Korean culture is quite unique in its approach to food. Food seems to permeate every aspect of life. If you have watched a Korean drama or movie you will undoubtedly have noticed that in at least one scene someone is eating.</p>
                      <span class="duration">Duration: 3 weeks</span>
                    </div>

                  </div>
                    <div class="col-sm-3 food-type-container" ng-click = "infoClicked('Italian',users.italianPercentage)">

                        <div class="journey-progress">
                          <div class="progress-percentage italianBox ng-cloak"><p>{{users.italianPercentage}}</p></div>
                            <img src="../../app/images/italian-food-icon.png" width="12%" alt="Italian Food" />
                            <span class="food-name-type speciesFont">Italian</span>

                        </div>
                        <div class="description">
                            <p>An Italian meal is famous for its structure sections: the appetiser, pasta or rice dish, a meat course and dolce dessert.</p>
                            <span class="duration">Duration: 1 weeks</span>
                        </div>

                    </div>
                    <div class="col-sm-3 food-type-container" ng-click = "infoClicked('Mexican',users.mexicanPercentage)">

                        <div class="journey-progress">
                          <div class="progress-percentage mexicanBox ng-cloak"><p>{{users.mexicanPercentage}}</p></div>
                           <img src="../../app/images/mexican-food-icon.png" width="12%" alt="Mexican Food" />
                            <span class="food-name-type speciesFont">Mexican</span>
                          </div>
                        <div class="description">
                            <p>Known for its varied flavours and spices, the food of Mexico is a result of the Spanish conquistadores' interaction with the aztec culture.</p>
                            <span class="duration">Duration: 2 weeks</span>
                        </div>

                    </div>
                    <div class="col-sm-3 food-type-container" ng-click = "infoClicked('Japanese',users.japanesePercentage)">

                      <div class="journey-progress">
                        <div class="progress-percentage japanBox ng-cloak"><p>{{users.japanesePercentage}}</p></div>
                            <img src="../../app/images/japanese-food-icon.png" width="12%" alt="Japanese Food" />
                            <span class="food-name-type speciesFont">Japanese</span>
                        </div>
                        <div class="description">
                            <p>In 2014, 14 restaurants in Tokyo and Shonan mantain Michelin three-stars rating, the ultimate international recognition in the culinary world.</p>
                            <span class="duration">Duration: 3 weeks</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Vendor Javascript-->
    <script src="../jquery/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!--Custom Javascript-->
    <script src="../dom.manipulation.js"></script>

</body>

</html>
