<!DOCTYPE html>
<html lang="en" ng-app="followUp">

<head>
    <title>Capstone</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--Vendor CSS-->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src ="../angular.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/ngstorage/ngStorage.js"></script>
  <script src="../scripts/controllers/index-journey-overview.js"></script>
    <!--Custom CSS-->
    <link href="../styles/css/sprite.css" rel="stylesheet" />
    <link href="../styles/css/styles.css" rel="stylesheet" />
  <link href="../styles/less/journey.css" rel="stylesheet" />
  <link href="../styles/css/mask.css" rel="stylesheet" />
  <link href="../styles/less/journey.challenge.css" rel="stylesheet" />
  <link href="../styles/less/journey.overview.css" rel="stylesheet" />

</head>

<body ng-controller="JourneyController">
    <div class="container" >
       <!--Navigation Menu-->
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                      <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="../../app/images/NavBar.png" class="img-rounded"  style="height: 25px;width: 25px;">
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="index-journey-overview.html">Journey</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="index-journey.html">My Progress</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                        <a class="navbar-brand">FoodieJournal</a>
                    </div>

                    <div class="collapse navbar-collapse" id="menu">
                        <!--<ul class="nav navbar-nav">-->
                            <!--<li class="active"><a href="index-journey-overview.html">Journey</a>-->
                            <!--</li>-->
                            <!--<li><a href="index-journey.html">My Progress</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown" role="button" aria-expanded="false">Hi Accenture!
                                    <img src="../images/avatar.png" class="img-circle" alt="Avatar">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">My Account</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="index-home-login.html">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </header>

        <!-- Main Container-->
        <div class="row">
            <div class="col-md-12">
                <div class="journey-overview">
                    <div class="food-types-widget">
                        <div class="food-type-buttons">
                           <button class="btn"  id="American" ng-class="{'btn-primary':isAmericaActive}" ng-click="toggleActive1('America')">American</button>
                            <button class="btn"  id="Korea" ng-class="{'btn-primary':isKoreaActive}" ng-click="toggleActive1('Korea')"> Korean</button>
                            <button class="btn"  id="Italy" ng-class="{'btn-primary':isItalyActive}" ng-click="toggleActive1('Italy')">Italian</button>
                            <button class="btn"  id="Mexico" ng-class="{'btn-primary':isMexicoActive}" ng-click="toggleActive1('Mexico')">Mexican</button>
                            <button class="btn"  id="Japan" ng-class="{'btn-primary':isJapanActive}" ng-click="toggleActive1('Japan')">Japanese</button>
                        </div>
                        <div class="food-type-dropdown">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="food-type-dropdown" data-toggle="dropdown" aria-expanded="false">
                                    American
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="food-type-dropdown">
                                    <li><a>Italian</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a>Mexican</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a>Japanese</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sort-control dropdown">
                            <button  class="btn btn-default dropdown-toggle" type="button" id="sort-by" data-toggle="dropdown" aria-expanded="false" style="color:#808080;border:solid 1px #898989;" >

                                Most Recent <i class="fa fa-sort">


                            </i>
                            </button>

                           <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="sort-by"  ng-model="SelectedPropName">
                                <li  ng-cloak ><a ng-click="setSelection('id');"> Most Recent</a>
                                </li>
                                <li class="divider"></li>
                                <li><a ng-click="setSelection('rating');">Highest Rated</a>
                                </li>
                                <li class="divider"></li>
                                <li><a ng-click="setSelection('review_count');">Top Reviewed</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="food-type-overview" ng-controller="followUpController">
                        <div class="ft-progress">
                           <!--<div class="circleContainer">-->
                            <!--</div>-->
                           <div class="" style="background-image: url('../images/american-food-icon.png');" ng-show="isAmericaActive" >
                          </div>
                          <div class="progress-sprite" style="background-image: url('../images/stack.png');" ng-show="isKoreaActive">
                          </div>
                          <div class="progress-sprite" style="background-image: url('../images/italian-food-icon.png');" ng-show="isItalyActive">
                          </div>
                          <div class="progress-sprite" style="background-image: url('../images/mexican-food-icon.png');" ng-show="isMexicoActive">
                          </div>
                          <div class="progress-sprite" style="background-image: url('../images/japanese-food-icon.png');" ng-show="isJapanActive">
                          </div>
                          <div class="radial-progress" data-progress="0">
                            <div class="circle">
                              <div class="mask full">
                                <div class="fill"></div>
                              </div>
                              <div class="mask half">
                                <div class="fill"></div>
                                <div class="fill fix"></div>
                              </div>
                            </div>
                          </div>

                        </div>
                      <div ng-show="isAmericaActive">
                        <div class="ft-description" >
                            <h5>American <span class="st-progress" id="americaVal">{{users.americaPercentage}}</span></h5>
                            <p>One characteristic of American cooking is the fusion of multiple ethnic of regional approaches into completely new cooking styles.</p>
                        </div>
                        <div class="ft-actions">
                            <div class="duration">Duration: 3 weeks</div>
                            <button class="btn btn-primary btn-block" ng-click="americanfollowUpBtn()" ng-show="americacontinuebtn">{{americanButtonText}}</button>
                          <button class="btn btn-primary btn-block" ng-click="americanContinueBtn()" ng-show="americashowBtn">Un-Follow</button>
                        </div>
                        </div>
                      <div ng-show="isKoreaActive">
                        <div class="ft-description" >
                          <h5>Korea <span class="st-progress">{{users.koreanPercentage}}</span></h5>
                          <p>The Korean culture is quite unique in its approach to food. Food seems to permeate every aspect of life. If you have watched a Korean drama or movie you will undoubtedly have noticed that in at least one scene someone is eating.</p>
                        </div>
                        <div class="ft-actions">
                          <div class="duration btn-align btn-align-duration" >Duration: 3 weeks</div>
                          <button class="btn btn-primary btn-block" ng-click="koreanfollowUpBtn()"  ng-show="koreacontinuebtn">{{koreanButtonText}}</button>
                          <button class="btn btn-primary btn-block" ng-click="koreanContinueBtn()" ng-show="koreanshowBtn">Un-Follow</button>
                        </div>
                      </div>
                        <div ng-show="isItalyActive">
                        <div class="ft-description" >
                          <h5>Italian <span class="st-progress">{{users.italianPercentage}}</span></h5>
                          <p>An Italian meal is famous for its structure sections: the appetiser, pasta or rice dish, a meat course and dolce dessert.</p>
                        </div>
                        <div class="ft-actions">
                          <div class="duration btn-align btn-align-duration" >Duration: 1 weeks</div>
                          <button class="btn btn-primary btn-block" ng-click="italyfollowUpBtn()" ng-show="italycontinuebtn">{{italianButtonText}}</button>
                          <button class="btn btn-primary btn-block" ng-click="italyContinueBtn()" ng-show="italyshowBtn">Un-Follow</button>
                        </div>
                        </div>
                      <div ng-show="isMexicoActive">
                        <div class="ft-description" >
                          <h5>Mexican <span class="st-progress">{{users.mexicanPercentage}}</span></h5>
                          <p>Known for its varied flavours and spices, the food of Mexico is a result of the Spanish conquistadores' interaction with the aztec culture.</p>
                        </div>
                        <div class="ft-actions">
                          <div class="duration btn-align btn-align-duration" >Duration: 1 weeks</div>
                          <button class="btn btn-primary btn-block" ng-click="mexicofollowUpBtn()" ng-show="mexicontinuebtn">{{mexicanButtonText}}</button>
                          <button class="btn btn-primary btn-block" ng-click="mexicoContinueBtn()" ng-show="mexicoshowBtn">Un-Follow</button>
                        </div>
                      </div>
                      <div ng-show="isJapanActive">
                        <div class="ft-description" >
                          <h5>Japanese <span class="st-progress">{{users.japanesePercentage}}</span></h5>
                          <p>In 2014, 14 restaurants in Tokyo and Shonan mantain Michelin three-stars rating, the ultimate international recognition in the culinary world.</p>
                        </div>
                        <div class="ft-actions">
                          <div class="duration btn-align btn-align-duration" >Duration: 3 weeks</div>
                          <button class="btn btn-primary btn-block" ng-click="japanfollowUpBtn()" ng-show="japancontinuebtn">{{japanButtonText}}</button>
                          <button class="btn btn-primary btn-block" ng-click="japanContinueBtn()" ng-show="japanshowBtn">Un-Follow</button>
                        </div>
                      </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="journey-overview-items">

                   <ul style="list-style-type:none;padding-left: 0px;">
                    <li ng-repeat="food in films[0].businesses  | orderBy: SelectionText | limitTo:10" >
                    <div class="ft-item" class="my-directive"  ng-init="DataLength='5'">
                        <div class="fti-header" id="{{$index}}" value="{{food}}" ng-click="FoodDetails($index, films[0].businesses.length);">
                            <span class="fa-stack fa-lg text-center">
                                  <i ng-show="AmericaindexNumber{{$index}}" ng-if="isAmericaActive" class="fa fa-circle fa-stack-2x"></i>
                                    <img ng-show="AmericacompleteImage{{$index}}" ng-if="isAmericaActive" src="../images/Completed.png" />
                                  <i class="fa fti-number" ng-show="AmericaindexNumber{{ $index}}" ng-if="isAmericaActive">
                                    {{$index}}
                                  </i>
                                <i ng-show="KoreaindexNumber{{$index}}" ng-if="isKoreaActive" class="fa fa-circle fa-stack-2x"></i>
                                <img ng-show="KoreacompleteImage{{$index}}" ng-if="isKoreaActive" src="../images/Completed.png" />
                                <i class="fa fti-number" ng-show="KoreaindexNumber{{ $index}}" ng-if="isKoreaActive">
                                    {{$index}}
                                </i>
                                <i ng-show="italyindexNumber{{$index}}" ng-if="isItalyActive" class="fa fa-circle fa-stack-2x"></i>
                                <img ng-show="italycompleteImage{{$index}}" ng-if="isItalyActive" src="../images/Completed.png" />
                                <i class="fa fti-number" ng-show="italyindexNumber{{ $index}}" ng-if="isItalyActive">
                                    {{$index}}
                                </i>
                                <i ng-show="japaneseindexNumber{{$index}}" ng-if="isJapanActive" class="fa fa-circle fa-stack-2x"></i>
                                <img ng-show="japanesecompleteImage{{$index}}" ng-if="isJapanActive" src="../images/Completed.png" />
                                <i class="fa fti-number" ng-show="japaneseindexNumber{{ $index}}" ng-if="isJapanActive">
                                    {{$index}}
                                </i>
                                <i ng-show="mexicanindexNumber{{$index}}" ng-if="isMexicoActive" class="fa fa-circle fa-stack-2x"></i>
                                <img ng-show="mexicancompleteImage{{$index}}" ng-if="isMexicoActive" src="../images/Completed.png" />
                                <i class="fa fti-number" ng-show="mexicanindexNumber{{ $index}}" ng-if="isMexicoActive">
                                    {{$index}}
                                </i>
                                </span>
                            <span class="fti-title">
                               {{food.name}}
                              </span>


                          <div class="fti-body hide" id="FoodDetail{{$index}}" >
                            <div class="col-sm-3 col-md-3 review">
                              <span class="r-name">Frankie's</span>
                              <br>
                                <span class="r-rating" style="width: 100px;">
                                  <span class="star star-active"></span>
                                <span class="star star-active"></span>
                                <span class="star star-active"></span>
                                <span class="star star-active"></span>
                                  <span class="star"></span>
                                </span>
                              <span class="r-reviews">{{food.review_count}} reviews</span>
                              <br>
                              <span class="r-price-range">$$ - Burgers</span>
                              <br>
                              <span class="r-address">{{food.location.display_address[0]}},{{food.location.display_address[1]}},{{food.location.display_address[3]}}</span>
                            </div>
                            <div class="col-sm-3 col-md-3 contact">
                              <span class="r-wtime">Today 8:00 am - 9:00 pm</span>
                              <br>
                              <span class="r-status open">Open now</span>
                              <hr>
                              <span class="r-phone"><a><i class="fa fa-phone"></i> {{food.display_phone}}</a></span>
                              <br>
                              <span class="r-website"><a style="font-size: 10px;"><i class="fa fa-external-link" ></i> {{food.url| limitTo: 19}}</a></span>
                            </div>

                            <div class="col-sm-2 col-md-3 img-responsive">

                              <img ng-src="{{food.image_url }}" class="map1" style="background: linear-gradient(to bottom right,black,transparent);"/>
                            </div>
                            <div class="img-map">
                               <img src="http://maps.google.com/maps/api/staticmap?center={{food.location.coordinate.latitude}},{{food.location.coordinate.longitude}}&zoom=18&size=220x120&sensor=TRUE & FALSE&maptype=roadmap&format=png&visual_refresh=true&markers=color:red%7Clabel:C%7C{{food.location.coordinate.latitude}},{{food.location.coordinate.longitude}}" >

                             </div>

                          </div></div>
                    </div>
                     </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
    <!--Vendor Javascript-->
    <script src="../jquery/jquery.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.js"></script>


    <!--Custom Javascript-->
    <script src="../dom.manipulation.js"></script>
    <script>
         $('head style[type="text/css"]').attr('type', 'text/less');
        var transform_styles = ['-webkit-transform', '-ms-transform', 'transform'];
        window.randomize = function () {
          var fill_rotation = 10*(1.8);
          for (i in transform_styles) {
            $('.circle .fill, .circle .mask.full').css(transform_styles[i], 'rotate(' + fill_rotation + 'deg)');
          }
        }
        setTimeout(window.randomize, 200);
        $('.radial-progress').click(window.randomize);
    </script>
</body>

</html>
