
.radial-progress {
@circle-size: 150px;
@circle-background: #CB3729;
@circle-color: #d6dadc;
@transition-length: 1s;

  width:@circle-size;
  height:@circle-size;

  background-color: @circle-background;
  border-radius: 50%;
.circle {
.mask, .fill {
  width:    @circle-size;
  height:   @circle-size;
  position: absolute;

  border-radius: 50%;

  transition: -webkit-transform @transition-length;
  transition: -ms-transform @transition-length;
  transition: transform @transition-length;
  -webkit-backface-visibility: hidden;
}
.mask {
  clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
.fill {
  clip: rect(0px, @circle-size/2, @circle-size, 0px);
  background-color: @circle-color;
}
}
}
}

/****************************
* Journey Overview Screen
***************************/
.journey-overview-container {
  background-color: white;
}
.journey-overview {
  padding: 9px 90px;
  margin: 0px auto 10px auto;
}
.journey-overview .food-types-widget {
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
  min-height: 55px;
}
.journey-overview .food-types-widget .food-type-dropdown {
  display: none;
}
.journey-overview .food-types-widget .food-type-buttons button {
  width: 100px;
}
.journey-overview .food-types-widget button {
  margin-right: 5px;
}
.journey-overview .food-types-widget .sort-control {
  float: right;
  cursor: pointer;
}
.journey-overview .food-types-widget .sort-control .dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  text-align: center;
}
.journey-overview .food-types-widget .sort-control .dropdown-menu li a {
  padding: 8px 0px;
}
.journey-overview .food-types-widget .sort-control .dropdown-menu li a:hover {
  color: #ffffff;
  background-color: #B5B5B5;
}
.journey-overview .food-types-widget .sort-control .dropdown-menu .divider {
  margin: 0px;
}
.journey-overview .food-type-overview {
  min-height: 120px;
  margin: 20px 0px;
}
.journey-overview .food-type-overview .ft-progress .progress-sprite {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.journey-overview .food-type-overview .ft-progress .radial-progress {
  width: 120px;
  height: 120px;
  background-color: #cb392c;
  border-radius: 50%;
}
.journey-overview .food-type-overview .ft-progress .radial-progress .circle .mask,
.journey-overview .food-type-overview .ft-progress .radial-progress .circle .fill,
.journey-overview .food-type-overview .ft-progress .radial-progress .circle .shadow {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}
.journey-overview .food-type-overview .ft-progress .radial-progress .circle .mask,
.journey-overview .food-type-overview .ft-progress .radial-progress .circle .fill {
  backface-visibility: hidden;
  transition: transform 0.8s;
  border-radius: 50%;
}
.journey-overview .food-type-overview .ft-progress .radial-progress .circle .mask {
  clip: rect(0px, 120px, 120px, 60px);
}
.journey-overview .food-type-overview .ft-progress .radial-progress .circle .mask .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #fe5140;
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="0"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="0"] .circle .fill {
  transform: rotate(0deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="0"] .circle .fill.fix {
  transform: rotate(0deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="1"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="1"] .circle .fill {
  transform: rotate(1.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="1"] .circle .fill.fix {
  transform: rotate(3.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="2"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="2"] .circle .fill {
  transform: rotate(3.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="2"] .circle .fill.fix {
  transform: rotate(7.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="3"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="3"] .circle .fill {
  transform: rotate(5.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="3"] .circle .fill.fix {
  transform: rotate(10.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="4"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="4"] .circle .fill {
  transform: rotate(7.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="4"] .circle .fill.fix {
  transform: rotate(14.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="5"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="5"] .circle .fill {
  transform: rotate(9deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="5"] .circle .fill.fix {
  transform: rotate(18deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="6"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="6"] .circle .fill {
  transform: rotate(10.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="6"] .circle .fill.fix {
  transform: rotate(21.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="7"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="7"] .circle .fill {
  transform: rotate(12.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="7"] .circle .fill.fix {
  transform: rotate(25.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="8"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="8"] .circle .fill {
  transform: rotate(14.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="8"] .circle .fill.fix {
  transform: rotate(28.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="9"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="9"] .circle .fill {
  transform: rotate(16.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="9"] .circle .fill.fix {
  transform: rotate(32.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="10"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="10"] .circle .fill {
  transform: rotate(18deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="10"] .circle .fill.fix {
  transform: rotate(36deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="11"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="11"] .circle .fill {
  transform: rotate(19.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="11"] .circle .fill.fix {
  transform: rotate(39.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="12"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="12"] .circle .fill {
  transform: rotate(21.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="12"] .circle .fill.fix {
  transform: rotate(43.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="13"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="13"] .circle .fill {
  transform: rotate(23.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="13"] .circle .fill.fix {
  transform: rotate(46.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="14"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="14"] .circle .fill {
  transform: rotate(25.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="14"] .circle .fill.fix {
  transform: rotate(50.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="15"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="15"] .circle .fill {
  transform: rotate(27deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="15"] .circle .fill.fix {
  transform: rotate(54deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="16"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="16"] .circle .fill {
  transform: rotate(28.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="16"] .circle .fill.fix {
  transform: rotate(57.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="17"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="17"] .circle .fill {
  transform: rotate(30.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="17"] .circle .fill.fix {
  transform: rotate(61.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="18"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="18"] .circle .fill {
  transform: rotate(32.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="18"] .circle .fill.fix {
  transform: rotate(64.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="19"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="19"] .circle .fill {
  transform: rotate(34.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="19"] .circle .fill.fix {
  transform: rotate(68.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="20"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="20"] .circle .fill {
  transform: rotate(36deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="20"] .circle .fill.fix {
  transform: rotate(72deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="21"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="21"] .circle .fill {
  transform: rotate(37.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="21"] .circle .fill.fix {
  transform: rotate(75.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="22"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="22"] .circle .fill {
  transform: rotate(39.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="22"] .circle .fill.fix {
  transform: rotate(79.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="23"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="23"] .circle .fill {
  transform: rotate(41.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="23"] .circle .fill.fix {
  transform: rotate(82.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="24"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="24"] .circle .fill {
  transform: rotate(43.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="24"] .circle .fill.fix {
  transform: rotate(86.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="25"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="25"] .circle .fill {
  transform: rotate(45deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="25"] .circle .fill.fix {
  transform: rotate(90deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="26"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="26"] .circle .fill {
  transform: rotate(46.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="26"] .circle .fill.fix {
  transform: rotate(93.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="27"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="27"] .circle .fill {
  transform: rotate(48.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="27"] .circle .fill.fix {
  transform: rotate(97.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="28"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="28"] .circle .fill {
  transform: rotate(50.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="28"] .circle .fill.fix {
  transform: rotate(100.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="29"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="29"] .circle .fill {
  transform: rotate(52.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="29"] .circle .fill.fix {
  transform: rotate(104.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="30"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="30"] .circle .fill {
  transform: rotate(54deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="30"] .circle .fill.fix {
  transform: rotate(108deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="31"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="31"] .circle .fill {
  transform: rotate(55.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="31"] .circle .fill.fix {
  transform: rotate(111.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="32"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="32"] .circle .fill {
  transform: rotate(57.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="32"] .circle .fill.fix {
  transform: rotate(115.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="33"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="33"] .circle .fill {
  transform: rotate(59.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="33"] .circle .fill.fix {
  transform: rotate(118.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="34"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="34"] .circle .fill {
  transform: rotate(61.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="34"] .circle .fill.fix {
  transform: rotate(122.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="35"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="35"] .circle .fill {
  transform: rotate(63deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="35"] .circle .fill.fix {
  transform: rotate(126deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="36"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="36"] .circle .fill {
  transform: rotate(64.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="36"] .circle .fill.fix {
  transform: rotate(129.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="37"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="37"] .circle .fill {
  transform: rotate(66.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="37"] .circle .fill.fix {
  transform: rotate(133.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="38"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="38"] .circle .fill {
  transform: rotate(68.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="38"] .circle .fill.fix {
  transform: rotate(136.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="39"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="39"] .circle .fill {
  transform: rotate(70.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="39"] .circle .fill.fix {
  transform: rotate(140.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="40"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="40"] .circle .fill {
  transform: rotate(72deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="40"] .circle .fill.fix {
  transform: rotate(144deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="41"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="41"] .circle .fill {
  transform: rotate(73.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="41"] .circle .fill.fix {
  transform: rotate(147.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="42"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="42"] .circle .fill {
  transform: rotate(75.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="42"] .circle .fill.fix {
  transform: rotate(151.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="43"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="43"] .circle .fill {
  transform: rotate(77.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="43"] .circle .fill.fix {
  transform: rotate(154.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="44"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="44"] .circle .fill {
  transform: rotate(79.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="44"] .circle .fill.fix {
  transform: rotate(158.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="45"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="45"] .circle .fill {
  transform: rotate(81deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="45"] .circle .fill.fix {
  transform: rotate(162deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="46"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="46"] .circle .fill {
  transform: rotate(82.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="46"] .circle .fill.fix {
  transform: rotate(165.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="47"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="47"] .circle .fill {
  transform: rotate(84.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="47"] .circle .fill.fix {
  transform: rotate(169.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="48"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="48"] .circle .fill {
  transform: rotate(86.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="48"] .circle .fill.fix {
  transform: rotate(172.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="49"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="49"] .circle .fill {
  transform: rotate(88.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="49"] .circle .fill.fix {
  transform: rotate(176.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="50"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="50"] .circle .fill {
  transform: rotate(90deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="50"] .circle .fill.fix {
  transform: rotate(180deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="51"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="51"] .circle .fill {
  transform: rotate(91.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="51"] .circle .fill.fix {
  transform: rotate(183.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="52"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="52"] .circle .fill {
  transform: rotate(93.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="52"] .circle .fill.fix {
  transform: rotate(187.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="53"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="53"] .circle .fill {
  transform: rotate(95.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="53"] .circle .fill.fix {
  transform: rotate(190.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="54"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="54"] .circle .fill {
  transform: rotate(97.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="54"] .circle .fill.fix {
  transform: rotate(194.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="55"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="55"] .circle .fill {
  transform: rotate(99deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="55"] .circle .fill.fix {
  transform: rotate(198deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="56"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="56"] .circle .fill {
  transform: rotate(100.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="56"] .circle .fill.fix {
  transform: rotate(201.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="57"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="57"] .circle .fill {
  transform: rotate(102.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="57"] .circle .fill.fix {
  transform: rotate(205.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="58"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="58"] .circle .fill {
  transform: rotate(104.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="58"] .circle .fill.fix {
  transform: rotate(208.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="59"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="59"] .circle .fill {
  transform: rotate(106.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="59"] .circle .fill.fix {
  transform: rotate(212.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="60"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="60"] .circle .fill {
  transform: rotate(108deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="60"] .circle .fill.fix {
  transform: rotate(216deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="61"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="61"] .circle .fill {
  transform: rotate(109.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="61"] .circle .fill.fix {
  transform: rotate(219.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="62"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="62"] .circle .fill {
  transform: rotate(111.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="62"] .circle .fill.fix {
  transform: rotate(223.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="63"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="63"] .circle .fill {
  transform: rotate(113.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="63"] .circle .fill.fix {
  transform: rotate(226.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="64"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="64"] .circle .fill {
  transform: rotate(115.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="64"] .circle .fill.fix {
  transform: rotate(230.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="65"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="65"] .circle .fill {
  transform: rotate(117deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="65"] .circle .fill.fix {
  transform: rotate(234deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="66"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="66"] .circle .fill {
  transform: rotate(118.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="66"] .circle .fill.fix {
  transform: rotate(237.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="67"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="67"] .circle .fill {
  transform: rotate(120.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="67"] .circle .fill.fix {
  transform: rotate(241.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="68"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="68"] .circle .fill {
  transform: rotate(122.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="68"] .circle .fill.fix {
  transform: rotate(244.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="69"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="69"] .circle .fill {
  transform: rotate(124.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="69"] .circle .fill.fix {
  transform: rotate(248.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="70"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="70"] .circle .fill {
  transform: rotate(126deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="70"] .circle .fill.fix {
  transform: rotate(252deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="71"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="71"] .circle .fill {
  transform: rotate(127.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="71"] .circle .fill.fix {
  transform: rotate(255.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="72"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="72"] .circle .fill {
  transform: rotate(129.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="72"] .circle .fill.fix {
  transform: rotate(259.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="73"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="73"] .circle .fill {
  transform: rotate(131.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="73"] .circle .fill.fix {
  transform: rotate(262.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="74"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="74"] .circle .fill {
  transform: rotate(133.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="74"] .circle .fill.fix {
  transform: rotate(266.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="75"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="75"] .circle .fill {
  transform: rotate(135deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="75"] .circle .fill.fix {
  transform: rotate(270deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="76"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="76"] .circle .fill {
  transform: rotate(136.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="76"] .circle .fill.fix {
  transform: rotate(273.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="77"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="77"] .circle .fill {
  transform: rotate(138.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="77"] .circle .fill.fix {
  transform: rotate(277.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="78"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="78"] .circle .fill {
  transform: rotate(140.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="78"] .circle .fill.fix {
  transform: rotate(280.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="79"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="79"] .circle .fill {
  transform: rotate(142.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="79"] .circle .fill.fix {
  transform: rotate(284.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="80"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="80"] .circle .fill {
  transform: rotate(144deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="80"] .circle .fill.fix {
  transform: rotate(288deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="81"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="81"] .circle .fill {
  transform: rotate(145.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="81"] .circle .fill.fix {
  transform: rotate(291.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="82"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="82"] .circle .fill {
  transform: rotate(147.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="82"] .circle .fill.fix {
  transform: rotate(295.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="83"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="83"] .circle .fill {
  transform: rotate(149.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="83"] .circle .fill.fix {
  transform: rotate(298.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="84"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="84"] .circle .fill {
  transform: rotate(151.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="84"] .circle .fill.fix {
  transform: rotate(302.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="85"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="85"] .circle .fill {
  transform: rotate(153deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="85"] .circle .fill.fix {
  transform: rotate(306deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="86"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="86"] .circle .fill {
  transform: rotate(154.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="86"] .circle .fill.fix {
  transform: rotate(309.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="87"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="87"] .circle .fill {
  transform: rotate(156.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="87"] .circle .fill.fix {
  transform: rotate(313.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="88"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="88"] .circle .fill {
  transform: rotate(158.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="88"] .circle .fill.fix {
  transform: rotate(316.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="89"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="89"] .circle .fill {
  transform: rotate(160.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="89"] .circle .fill.fix {
  transform: rotate(320.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="90"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="90"] .circle .fill {
  transform: rotate(162deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="90"] .circle .fill.fix {
  transform: rotate(324deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="91"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="91"] .circle .fill {
  transform: rotate(163.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="91"] .circle .fill.fix {
  transform: rotate(327.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="92"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="92"] .circle .fill {
  transform: rotate(165.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="92"] .circle .fill.fix {
  transform: rotate(331.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="93"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="93"] .circle .fill {
  transform: rotate(167.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="93"] .circle .fill.fix {
  transform: rotate(334.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="94"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="94"] .circle .fill {
  transform: rotate(169.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="94"] .circle .fill.fix {
  transform: rotate(338.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="95"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="95"] .circle .fill {
  transform: rotate(171deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="95"] .circle .fill.fix {
  transform: rotate(342deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="96"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="96"] .circle .fill {
  transform: rotate(172.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="96"] .circle .fill.fix {
  transform: rotate(345.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="97"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="97"] .circle .fill {
  transform: rotate(174.6deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="97"] .circle .fill.fix {
  transform: rotate(349.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="98"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="98"] .circle .fill {
  transform: rotate(176.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="98"] .circle .fill.fix {
  transform: rotate(352.8deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="99"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="99"] .circle .fill {
  transform: rotate(178.2deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="99"] .circle .fill.fix {
  transform: rotate(356.4deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="100"] .circle .mask.full,
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="100"] .circle .fill {
  transform: rotate(180deg);
}
.journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="100"] .circle .fill.fix {
  transform: rotate(360deg);
}
.journey-overview .food-type-overview .ft-description {
  max-width: 400px;
}
.journey-overview .food-type-overview .ft-description .st-progress {
  color: #a8a8a8;
}
.journey-overview .food-type-overview .ft-actions {
  text-align: center;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
.journey-overview .food-type-overview .ft-actions .duration {
  background-color: #f1f1f1;
  padding: 11px 20px;
  margin-bottom: 15px;
}
.journey-overview .food-types-widget .food-type-buttons,
.journey-overview .food-types-widget .food-type-dropdown {
  float: left;
}
.journey-overview .food-types-widget .sort-control button,
.journey-overview .food-types-widget .sort-control button:hover,
.journey-overview .food-types-widget .sort-control button:active,
.journey-overview .food-types-widget .sort-control button:focus {
  border: none;
  background-color: transparent;
}
.journey-overview .food-type-overview .ft-progress,
.journey-overview .food-type-overview .ft-description {
  position: relative;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.journey-overview-items {
  padding: 0 90px;
  margin: 0px auto 10px auto;
}
.journey-overview-items .ft-item {
  background-color: #ffffff;
  position: relative;
}
.journey-overview-items .ft-item .fti-header {
  color: black;
  margin-left: 0;
  text-decoration: none;
}
.journey-overview-items .ft-item .arrow {
  right: 1px;
  position: absolute;
  height: 35px;
  width: 50px;
  top: 1px;
  background-color: #f2f2f2;
  color: #AAA;
}
.journey-overview-items .ft-item .fti-title {
  vertical-align: middle;
}
.journey-overview-items .ft-item .fti-body {
  border-top: solid 1px #e7e7e7;
}
.journey-overview-items .ft-item .fti-body .summary > div {
  padding: 20px;
}
.journey-overview-items .ft-item .fti-body .summary h3 {
  margin-top: 0;
}
.journey-overview-items .ft-item .fti-body .summary .r-name {
  font-weight: bold;
}
.journey-overview-items .ft-item .fti-body .summary .r-reviews {
  color: #a8a8a8;
}
.journey-overview-items .ft-item .fti-body .google-map {
  text-align: center;
}
.journey-overview-items .ft-item .fti-body .gallery {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #000;
  position: relative;
  overflow: hidden;
}
.journey-overview-items .ft-item .fti-body .gallery .gallery-container {
  width: 100%;
  height: 100%;
  background: transparent no-repeat scroll center center / cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.journey-overview-items .ft-item .fti-body .gallery .gallery-container .overlay {
  background: linear-gradient(to bottom, #000000 0px, rgba(252, 252, 252, 0) 97%, rgba(255, 255, 255, 0) 98%) repeat scroll 0% 0% transparent;
  left: 0px;
  top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
}
.journey-overview-items .ft-item .fti-body .gallery .gallery-container .overlay img {
  margin-top: 45px;
  margin-bottom: 5px;
}
.journey-overview-items .ft-item .fti-body .contact > div {
  margin: 20px 0;
  overflow: hidden;
}
.journey-overview-items .ft-item .fti-body .contact hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-color: #a8a8a8;
}
.journey-overview-items .ft-item .fti-body .contact .r-status {
  font-weight: bold;
}
.journey-overview-items .ft-item .fti-body .contact .r-status.open {
  color: green;
}
.journey-overview-items .ft-item .fti-body .contact .r-status.closed {
  color: red;
}
.journey-overview-items .ft-item .fti-body .review blockquote {
  margin: 20px 0;
}
.journey-overview-items .ft-item .fti-body .review img {
  margin: 0 20px 70px 0;
}
.journey-overview-items .ft-item .fti-body .review .fa {
  color: #ccc;
}
.journey-overview-items .fti-body .r-rating {
  unicode-bidi: bidi-override;
  width: 50px;
  height: 10px;
  background-repeat: no-repeat;
  display: inline-block;
}
.journey-overview-items .fti-body .r-rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.journey-overview-items .fti-body .r-rating span.star:before {
  content: "\f006";
  padding-right: 0px;
  color: #FFB800;
}
.journey-overview-items .fti-body .r-rating span.star-active:before {
  content: "\f005";
  color: #FFB800;
}
/* Tablet adjustments */
@media (max-width: 992px) {
  .journey-overview .food-type-overview {
    margin: 10px 0px;
  }
  .journey-overview .food-type-overview .ft-description {
    max-width: 350px;
    margin: 0px 10px;
  }
  .journey-overview .food-type-overview .ft-description h5 {
    margin-top: 0px;
  }
  .journey-overview,
  .journey-overview-items {
    padding: 0 20px;
  }
  .journey-overview .food-types-widget button,
  .journey-overview-items .food-types-widget button {
    margin-right: 0px;
  }
}
/* Mobile adjustments */
@media (max-width: 768px) {
  .journey-overview .food-type-overview .ft-progress,
  .journey-overview .food-type-overview .ft-description,
  .journey-overview .food-type-overview .ft-actions {
    padding: 5px;
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress {
    width: 70px;
    height: 70px;
    background-color: #cb392c;
    border-radius: 50%;
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress .circle .mask,
  .journey-overview .food-type-overview .ft-progress .radial-progress .circle .fill,
  .journey-overview .food-type-overview .ft-progress .radial-progress .circle .shadow {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress .circle .mask,
  .journey-overview .food-type-overview .ft-progress .radial-progress .circle .fill {
    backface-visibility: hidden;
    transition: transform 0.8s;
    border-radius: 50%;
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress .circle .mask {
    clip: rect(0px, 70px, 70px, 35px);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress .circle .mask .fill {
    clip: rect(0px, 35px, 70px, 0px);
    background-color: #fe5140;
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="0"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="0"] .circle .fill {
    transform: rotate(0deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="0"] .circle .fill.fix {
    transform: rotate(0deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="1"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="1"] .circle .fill {
    transform: rotate(1.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="1"] .circle .fill.fix {
    transform: rotate(3.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="2"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="2"] .circle .fill {
    transform: rotate(3.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="2"] .circle .fill.fix {
    transform: rotate(7.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="3"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="3"] .circle .fill {
    transform: rotate(5.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="3"] .circle .fill.fix {
    transform: rotate(10.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="4"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="4"] .circle .fill {
    transform: rotate(7.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="4"] .circle .fill.fix {
    transform: rotate(14.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="5"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="5"] .circle .fill {
    transform: rotate(9deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="5"] .circle .fill.fix {
    transform: rotate(18deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="6"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="6"] .circle .fill {
    transform: rotate(10.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="6"] .circle .fill.fix {
    transform: rotate(21.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="7"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="7"] .circle .fill {
    transform: rotate(12.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="7"] .circle .fill.fix {
    transform: rotate(25.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="8"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="8"] .circle .fill {
    transform: rotate(14.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="8"] .circle .fill.fix {
    transform: rotate(28.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="9"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="9"] .circle .fill {
    transform: rotate(16.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="9"] .circle .fill.fix {
    transform: rotate(32.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="10"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="10"] .circle .fill {
    transform: rotate(18deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="10"] .circle .fill.fix {
    transform: rotate(36deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="11"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="11"] .circle .fill {
    transform: rotate(19.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="11"] .circle .fill.fix {
    transform: rotate(39.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="12"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="12"] .circle .fill {
    transform: rotate(21.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="12"] .circle .fill.fix {
    transform: rotate(43.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="13"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="13"] .circle .fill {
    transform: rotate(23.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="13"] .circle .fill.fix {
    transform: rotate(46.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="14"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="14"] .circle .fill {
    transform: rotate(25.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="14"] .circle .fill.fix {
    transform: rotate(50.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="15"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="15"] .circle .fill {
    transform: rotate(27deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="15"] .circle .fill.fix {
    transform: rotate(54deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="16"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="16"] .circle .fill {
    transform: rotate(28.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="16"] .circle .fill.fix {
    transform: rotate(57.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="17"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="17"] .circle .fill {
    transform: rotate(30.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="17"] .circle .fill.fix {
    transform: rotate(61.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="18"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="18"] .circle .fill {
    transform: rotate(32.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="18"] .circle .fill.fix {
    transform: rotate(64.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="19"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="19"] .circle .fill {
    transform: rotate(34.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="19"] .circle .fill.fix {
    transform: rotate(68.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="20"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="20"] .circle .fill {
    transform: rotate(36deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="20"] .circle .fill.fix {
    transform: rotate(72deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="21"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="21"] .circle .fill {
    transform: rotate(37.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="21"] .circle .fill.fix {
    transform: rotate(75.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="22"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="22"] .circle .fill {
    transform: rotate(39.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="22"] .circle .fill.fix {
    transform: rotate(79.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="23"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="23"] .circle .fill {
    transform: rotate(41.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="23"] .circle .fill.fix {
    transform: rotate(82.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="24"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="24"] .circle .fill {
    transform: rotate(43.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="24"] .circle .fill.fix {
    transform: rotate(86.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="25"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="25"] .circle .fill {
    transform: rotate(45deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="25"] .circle .fill.fix {
    transform: rotate(90deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="26"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="26"] .circle .fill {
    transform: rotate(46.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="26"] .circle .fill.fix {
    transform: rotate(93.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="27"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="27"] .circle .fill {
    transform: rotate(48.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="27"] .circle .fill.fix {
    transform: rotate(97.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="28"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="28"] .circle .fill {
    transform: rotate(50.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="28"] .circle .fill.fix {
    transform: rotate(100.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="29"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="29"] .circle .fill {
    transform: rotate(52.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="29"] .circle .fill.fix {
    transform: rotate(104.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="30"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="30"] .circle .fill {
    transform: rotate(54deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="30"] .circle .fill.fix {
    transform: rotate(108deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="31"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="31"] .circle .fill {
    transform: rotate(55.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="31"] .circle .fill.fix {
    transform: rotate(111.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="32"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="32"] .circle .fill {
    transform: rotate(57.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="32"] .circle .fill.fix {
    transform: rotate(115.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="33"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="33"] .circle .fill {
    transform: rotate(59.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="33"] .circle .fill.fix {
    transform: rotate(118.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="34"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="34"] .circle .fill {
    transform: rotate(61.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="34"] .circle .fill.fix {
    transform: rotate(122.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="35"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="35"] .circle .fill {
    transform: rotate(63deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="35"] .circle .fill.fix {
    transform: rotate(126deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="36"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="36"] .circle .fill {
    transform: rotate(64.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="36"] .circle .fill.fix {
    transform: rotate(129.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="37"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="37"] .circle .fill {
    transform: rotate(66.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="37"] .circle .fill.fix {
    transform: rotate(133.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="38"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="38"] .circle .fill {
    transform: rotate(68.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="38"] .circle .fill.fix {
    transform: rotate(136.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="39"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="39"] .circle .fill {
    transform: rotate(70.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="39"] .circle .fill.fix {
    transform: rotate(140.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="40"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="40"] .circle .fill {
    transform: rotate(72deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="40"] .circle .fill.fix {
    transform: rotate(144deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="41"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="41"] .circle .fill {
    transform: rotate(73.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="41"] .circle .fill.fix {
    transform: rotate(147.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="42"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="42"] .circle .fill {
    transform: rotate(75.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="42"] .circle .fill.fix {
    transform: rotate(151.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="43"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="43"] .circle .fill {
    transform: rotate(77.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="43"] .circle .fill.fix {
    transform: rotate(154.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="44"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="44"] .circle .fill {
    transform: rotate(79.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="44"] .circle .fill.fix {
    transform: rotate(158.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="45"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="45"] .circle .fill {
    transform: rotate(81deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="45"] .circle .fill.fix {
    transform: rotate(162deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="46"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="46"] .circle .fill {
    transform: rotate(82.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="46"] .circle .fill.fix {
    transform: rotate(165.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="47"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="47"] .circle .fill {
    transform: rotate(84.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="47"] .circle .fill.fix {
    transform: rotate(169.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="48"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="48"] .circle .fill {
    transform: rotate(86.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="48"] .circle .fill.fix {
    transform: rotate(172.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="49"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="49"] .circle .fill {
    transform: rotate(88.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="49"] .circle .fill.fix {
    transform: rotate(176.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="50"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="50"] .circle .fill {
    transform: rotate(90deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="50"] .circle .fill.fix {
    transform: rotate(180deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="51"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="51"] .circle .fill {
    transform: rotate(91.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="51"] .circle .fill.fix {
    transform: rotate(183.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="52"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="52"] .circle .fill {
    transform: rotate(93.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="52"] .circle .fill.fix {
    transform: rotate(187.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="53"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="53"] .circle .fill {
    transform: rotate(95.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="53"] .circle .fill.fix {
    transform: rotate(190.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="54"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="54"] .circle .fill {
    transform: rotate(97.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="54"] .circle .fill.fix {
    transform: rotate(194.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="55"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="55"] .circle .fill {
    transform: rotate(99deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="55"] .circle .fill.fix {
    transform: rotate(198deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="56"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="56"] .circle .fill {
    transform: rotate(100.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="56"] .circle .fill.fix {
    transform: rotate(201.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="57"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="57"] .circle .fill {
    transform: rotate(102.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="57"] .circle .fill.fix {
    transform: rotate(205.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="58"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="58"] .circle .fill {
    transform: rotate(104.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="58"] .circle .fill.fix {
    transform: rotate(208.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="59"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="59"] .circle .fill {
    transform: rotate(106.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="59"] .circle .fill.fix {
    transform: rotate(212.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="60"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="60"] .circle .fill {
    transform: rotate(108deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="60"] .circle .fill.fix {
    transform: rotate(216deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="61"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="61"] .circle .fill {
    transform: rotate(109.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="61"] .circle .fill.fix {
    transform: rotate(219.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="62"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="62"] .circle .fill {
    transform: rotate(111.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="62"] .circle .fill.fix {
    transform: rotate(223.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="63"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="63"] .circle .fill {
    transform: rotate(113.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="63"] .circle .fill.fix {
    transform: rotate(226.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="64"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="64"] .circle .fill {
    transform: rotate(115.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="64"] .circle .fill.fix {
    transform: rotate(230.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="65"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="65"] .circle .fill {
    transform: rotate(117deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="65"] .circle .fill.fix {
    transform: rotate(234deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="66"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="66"] .circle .fill {
    transform: rotate(118.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="66"] .circle .fill.fix {
    transform: rotate(237.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="67"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="67"] .circle .fill {
    transform: rotate(120.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="67"] .circle .fill.fix {
    transform: rotate(241.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="68"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="68"] .circle .fill {
    transform: rotate(122.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="68"] .circle .fill.fix {
    transform: rotate(244.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="69"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="69"] .circle .fill {
    transform: rotate(124.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="69"] .circle .fill.fix {
    transform: rotate(248.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="70"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="70"] .circle .fill {
    transform: rotate(126deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="70"] .circle .fill.fix {
    transform: rotate(252deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="71"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="71"] .circle .fill {
    transform: rotate(127.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="71"] .circle .fill.fix {
    transform: rotate(255.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="72"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="72"] .circle .fill {
    transform: rotate(129.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="72"] .circle .fill.fix {
    transform: rotate(259.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="73"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="73"] .circle .fill {
    transform: rotate(131.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="73"] .circle .fill.fix {
    transform: rotate(262.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="74"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="74"] .circle .fill {
    transform: rotate(133.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="74"] .circle .fill.fix {
    transform: rotate(266.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="75"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="75"] .circle .fill {
    transform: rotate(135deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="75"] .circle .fill.fix {
    transform: rotate(270deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="76"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="76"] .circle .fill {
    transform: rotate(136.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="76"] .circle .fill.fix {
    transform: rotate(273.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="77"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="77"] .circle .fill {
    transform: rotate(138.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="77"] .circle .fill.fix {
    transform: rotate(277.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="78"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="78"] .circle .fill {
    transform: rotate(140.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="78"] .circle .fill.fix {
    transform: rotate(280.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="79"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="79"] .circle .fill {
    transform: rotate(142.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="79"] .circle .fill.fix {
    transform: rotate(284.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="80"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="80"] .circle .fill {
    transform: rotate(144deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="80"] .circle .fill.fix {
    transform: rotate(288deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="81"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="81"] .circle .fill {
    transform: rotate(145.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="81"] .circle .fill.fix {
    transform: rotate(291.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="82"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="82"] .circle .fill {
    transform: rotate(147.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="82"] .circle .fill.fix {
    transform: rotate(295.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="83"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="83"] .circle .fill {
    transform: rotate(149.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="83"] .circle .fill.fix {
    transform: rotate(298.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="84"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="84"] .circle .fill {
    transform: rotate(151.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="84"] .circle .fill.fix {
    transform: rotate(302.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="85"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="85"] .circle .fill {
    transform: rotate(153deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="85"] .circle .fill.fix {
    transform: rotate(306deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="86"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="86"] .circle .fill {
    transform: rotate(154.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="86"] .circle .fill.fix {
    transform: rotate(309.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="87"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="87"] .circle .fill {
    transform: rotate(156.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="87"] .circle .fill.fix {
    transform: rotate(313.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="88"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="88"] .circle .fill {
    transform: rotate(158.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="88"] .circle .fill.fix {
    transform: rotate(316.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="89"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="89"] .circle .fill {
    transform: rotate(160.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="89"] .circle .fill.fix {
    transform: rotate(320.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="90"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="90"] .circle .fill {
    transform: rotate(162deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="90"] .circle .fill.fix {
    transform: rotate(324deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="91"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="91"] .circle .fill {
    transform: rotate(163.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="91"] .circle .fill.fix {
    transform: rotate(327.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="92"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="92"] .circle .fill {
    transform: rotate(165.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="92"] .circle .fill.fix {
    transform: rotate(331.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="93"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="93"] .circle .fill {
    transform: rotate(167.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="93"] .circle .fill.fix {
    transform: rotate(334.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="94"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="94"] .circle .fill {
    transform: rotate(169.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="94"] .circle .fill.fix {
    transform: rotate(338.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="95"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="95"] .circle .fill {
    transform: rotate(171deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="95"] .circle .fill.fix {
    transform: rotate(342deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="96"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="96"] .circle .fill {
    transform: rotate(172.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="96"] .circle .fill.fix {
    transform: rotate(345.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="97"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="97"] .circle .fill {
    transform: rotate(174.6deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="97"] .circle .fill.fix {
    transform: rotate(349.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="98"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="98"] .circle .fill {
    transform: rotate(176.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="98"] .circle .fill.fix {
    transform: rotate(352.8deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="99"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="99"] .circle .fill {
    transform: rotate(178.2deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="99"] .circle .fill.fix {
    transform: rotate(356.4deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="100"] .circle .mask.full,
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="100"] .circle .fill {
    transform: rotate(180deg);
  }
  .journey-overview .food-type-overview .ft-progress .radial-progress[data-progress="100"] .circle .fill.fix {
    transform: rotate(360deg);
  }
  .journey-overview .food-type-overview .ft-description {
    max-width: inherit;
    width: 75%;
  }
  .journey-overview .food-type-overview .ft-actions {
    float: none;
    clear: both;
  }
  .journey-overview .food-types-widget .food-type-buttons {
    display: none;
  }
  .journey-overview .food-types-widget .food-type-dropdown {
    display: inline;
  }
  .journey-overview .food-types-widget .food-type-dropdown .dropdown button {
    color: #ffffff;
    background-color: #fe5140;
  }
  .journey-overview .food-types-widget .food-type-dropdown .dropdown button .caret {
    margin-left: 50px;
  }
  .journey-overview .food-types-widget .food-type-dropdown .open button {
    background-color: #cb3729;
  }
  .journey-overview .food-types-widget button {
    background-color: #fe5140;
  }
  .journey-overview .food-types-widget .sort-control {
    float: right;
    cursor: pointer;
  }
  .journey-overview .food-types-widget .sort-control .dropdown-menu li a:hover {
    background-color: #B5B5B5;
  }
  .journey-overview .food-types-widget .sort-control.open {
    background-color: #F0F0F0;
  }
  .journey-overview .food-types-widget .food-type-dropdown .dropdown-menu li a:hover {
    background-color: #fe5140;
  }
  .journey-overview .food-types-widget .sort-control .dropdown-menu,
  .journey-overview .food-types-widget .food-type-dropdown .dropdown-menu {
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    width: 90vw;
    margin-top: 10px;
  }
  .journey-overview .food-types-widget .sort-control .dropdown-menu li a,
  .journey-overview .food-types-widget .food-type-dropdown .dropdown-menu li a {
    padding: 20px 40px;
  }
  .journey-overview .food-types-widget .sort-control .dropdown-menu li a:hover,
  .journey-overview .food-types-widget .food-type-dropdown .dropdown-menu li a:hover {
    color: #ffffff;
  }
  .journey-overview .food-types-widget .sort-control .dropdown-menu .divider,
  .journey-overview .food-types-widget .food-type-dropdown .dropdown-menu .divider {
    margin: 0px;
  }
  .ft-item .fti-body .contact {
    max-height: 7em;
  }
  .ft-item .fti-body .contact .well {
    margin: 0 20px !important;
  }
  .ft-item .fti-body .contact .r-wtime {
    display: none;
  }
  .ft-item .fti-body .contact .r-phone,
  .ft-item .fti-body .contact .r-website {
    line-height: 1.5em;
    font-size: 1.1em;
  }
  .journey-overview .food-type-overview .ft-actions div,
  .journey-overview .food-type-overview .ft-actions button {
    width: 49.8%;
    float: left;
    padding: 10px 20px;
  }
  .circleContainer {
    width: 70px;
    height: 70px;
    line-height: 45px;
  }
  .journey-overview-items .ft-item .fti-body .gallery,
  .journey-overview-items .ft-item .fti-body .google-map {
    display: none;
  }
  .journey-overview-items .ft-item blockquote {
    border-left: none;
  }
}
